@import '@/index.scss';

.employee-info {
  height: 100vh;

  &__container {
    padding: 0 16px;
    background-color: $colorLightGray;
  }

  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 280px;
    margin-bottom: 8px;
  }

  &__close-btn {
    position: absolute;
    top: 21px;
    left: 4px;
    height: 20px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__img {
    width: 104px;
    height: 104px;
    margin: 72px 0 24px 0;
    border-radius: 50%;
  }

  &__name {
    margin: 0 0 12px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  &__tag {
    margin-left: 4px;
    padding: 2px 0;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    color: $colorTextGrey;
    vertical-align: middle;
  }

  &__position {
    margin: 0 0 32px 0;
    font-size: 13px;
    line-height: 16px;
    color: $colorTextGraphite;
  }

  &__wrapper {
    padding: 0 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  &__age {
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 6px;
  }

  &__star {
    margin-right: 12px;
    cursor: pointer;
  }

  &__age span {
    position: absolute;
    right: 16px;
    color: $colorTextGrey;
  }

  &__phone {
    display: flex;
    align-items: center;
    height: 60px;
  }

  &__phone-number {
    margin-right: 12px;
    cursor: pointer;
  }
}

.dimmed {
  background: $backGroundColorBlack;
  filter: blur(2px);
  pointer-events: none;
}
