@import '@/index.scss';

.header {
  padding: 44px 0 16px 0;

  @include for-large-up {
    padding: 0 0 16px 0;
  }

  &__title {
    display: none;

    @include for-large-up {
      display: block;
      margin: 0;
      padding: 16px 0 12px 24px;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
    }
  }
}
