@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import './scss/variables.scss';
@import './scss/common.scss';
@import './scss/breakpoints.scss';

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: $colorTextBlack;
  background-color: $colorForBodyLightGrey;
}
