$colorTextGraphite: #55555c;
$colorTextGrey: #97979b;
$colorLightgrey: #c3c3c6;
$colorLightGray: #f7f7f8;
$colorGreyForButtonNumber: #f5f5f5b2;
$colorForBodyLightGrey: #e5e5e5;
$colorWhite: #fff;
$colorViolet: #6534ff;
$colorTextLightViolet: #6334ffc1;
$colorTextBlack: #050510;
$colorTransparentBlack: #0505105c;
$backGroundColorBlack: #00000060;
